<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html id="Login_html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PSD 로그인</title>
    <link href="dist/CSS/LoginCSS.css"  type="text/css" rel="stylesheet" charset="UTF-8">
  </head>
  <body>
    <div class="login_container" id="Login_container">
      <form class="form-signin">
        <div class="form-signin-heading" id="Login_h2">
            <span id="Login_span_header">로그인</span>
        </div>
        <div id="Login_innerContainer">
	 		    <div id="Login_div_email">
	        	<input type="email" id="Login_input_email" placeholder="이메일 주소" required autofocus >
	        </div>
	        <div id="Login_div_password">
	        	<input type="password" id="Login_input_password" placeholder="비밀번호" required >
	        </div>
	        <div id="Login_div_btn1">
	        	<button type="submit" id="Login_email_submit">이메일로 로그인</button>
	        </div>
	        <div id="Login_div_btn2">
	        	<button type="button" id="Login_skip">건너뛰기</button>
	        </div>
	        <div id="Login_div_btn3">
	        	<button type="button" id="Login_facebook_button">Facebook 로그인</button>
	        </div>
	        <div id="Login_div_textBtn">
	        	<a href="" id="Login_passwordSearch">비밀번호 찾기</a><span id="Login_span"> / </span><a href="" id="Login_membership">회원가입</a>
	        </div>
	  </div>
      </form>
    </div>
  </body>
</html>
